body { background-color: rgb(250, 249, 249) !important; }
.flexExpand {
  flex: 1 1 auto;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}
.mat-grid-tile .mat-figure {
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}
.hide{
  display: none;
}
.example-radio-group {
  display: flex; flex-direction: column;
  /* display: inline-grid; */
  /* display: grid; */
  margin: 15px 0;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
.content
{
  height:200px;
  overflow:auto;
  background:#fff;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.arrow {
  border: solid rgb(110, 109, 109);
  color: grey;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}


