<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h2>Edit User</h2>
        <form name="form">
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Ex. John smith">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Ex. pat@example.com">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="Ex. 9598874587">
            </mat-form-field>
          </div>
          <div class="form-group">
            <h3>Role: </h3>
            <mat-radio-group color="primary">
              <mat-radio-button value="1">Admin&nbsp;&nbsp;</mat-radio-button>
              <mat-radio-button value="2">Customer&nbsp;&nbsp;</mat-radio-button>
              <mat-radio-button value="3">Ops&nbsp;&nbsp;</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="content">
           <p>Linked Customers :</p>

            <mat-grid-list cols="3" rowHeight="4:1">
              <mat-grid-tile>
                <mat-checkbox color="primary">Customer 1</mat-checkbox>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-checkbox color="primary">Customer 2</mat-checkbox>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-checkbox color="primary">Customer 3</mat-checkbox>
              </mat-grid-tile>
            </mat-grid-list>
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<a href="#">Show less&nbsp; <i class="arrow up"></i></a>
            <!-- <input placeholder="Filter Customers" class="filter-input"> -->

                <mat-grid-list cols="3" rowHeight="4:1">
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 4</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 5</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 6</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 7</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 8</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 9</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 10</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 11</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 12</mat-checkbox>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <mat-checkbox color="primary">Customer 13</mat-checkbox>
                  </mat-grid-tile>
                </mat-grid-list>
          </div>
          <div class="form-group">
            <mat-label>Active &ensp;</mat-label>
            <mat-slide-toggle color="primary"></mat-slide-toggle>
          </div>
          <div class="text-right">

            <button mat-raised-button color="primary">Save&nbsp;&nbsp;</button>&nbsp;&nbsp;
            <button mat-raised-button >Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
