<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <h2>Add User</h2>
        <form name="form">
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Name</mat-label>
              <input matInput
                     placeholder="Ex. John smith">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Email</mat-label>
              <input matInput
                     placeholder="Ex. pat@example.com">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Phone</mat-label>
              <input matInput
                     placeholder="Ex. 9598874587">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Status</mat-label>
              <input matInput
                     placeholder="Ex. Active">
            </mat-form-field>
          </div>
          <div class="form-group">
            <mat-form-field style="width: 100%;">
              <mat-label>Customer</mat-label>
              <mat-select multiple required>
                <mat-option>Sparsh-YPR</mat-option><mat-option>Infantry</mat-option><mat-option>Sankara</mat-option>

              </mat-select>
              <mat-error >Please choose a customer</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" name="acceptTerms" id="acceptTerms" class="form-check-input"  required>
            <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
            <div  class="invalid-feedback">Accept Ts & Cs is required</div>
        </div>
        <div class="text-center">

            <button mat-raised-button color="primary" >Add User</button>
            <button mat-raised-button  routerLink="/users" routerLinkActive="active" style="background-color: #ffe54c;">Cancel</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
