<mat-toolbar color="primary" style="padding: 0;color: white;background-color:#a9c145">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>mDX</h1>
    <span class="flexExpand"></span>
    <span class="flexExpand"></span>
    <span class="material-icons" style="padding-right: 10px;font-size: 30px;" [matMenuTriggerFor]="notmenu">
      notification_important
    </span>
    <mat-menu #notmenu="matMenu">
      <button mat-menu-item>
        <mat-icon>notification_important</mat-icon> Notification
      </button>
      <button mat-menu-item>
        <mat-icon>notification_important</mat-icon> Notification
      </button>
      <button mat-menu-item>
        <mat-icon>notification_important</mat-icon> Notification
      </button>
    </mat-menu>

    <span class="material-icons" style="padding-right: 10px;font-size: 30px;" [matMenuTriggerFor]="menu">
      account_circle
    </span>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon> Profile
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>Settings
      </button>
      <button mat-menu-item>
        <mat-icon>login</mat-icon>Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!-- Side nav -->
<mat-sidenav-container>
  <!-- <mat-sidenav  [fixedInViewport]="true"  #sidenav mode="side" opened > -->
  <mat-sidenav #sidenav mode="side" opened style="background-color:#71890d">

    <mat-nav-list>
      <a mat-list-item [routerLink]="'/users'">
        <mat-icon>person</mat-icon> User Management
      </a>
      <mat-nav-list>
        <mat-expansion-panel  style="background-color:#71890d">
          <mat-expansion-panel-header >
            <a mat-list-item [routerLink]="'/management'">
              <mat-icon>dashboard</mat-icon> mDX Monitoring
            </a>
          </mat-expansion-panel-header>
          <a mat-list-item [routerLink]="'/management'">Bills</a>
          <a mat-list-item routerLink>GRNs</a>
          <a mat-list-item routerLink>Advances</a>
          <a mat-list-item routerLink>Others</a>
        </mat-expansion-panel>
      </mat-nav-list>
      <!-- <a mat-list-item [routerLink]="'/accounts'"> OtherOptions</a>
      <a mat-list-item [routerLink]="'/create-account'"> OtherOptions </a>
      <button style="padding: 10px;" mat-icon-button [matMenuTriggerFor]="billmenu" #menuTrigger="matMenuTrigger"
        (mouseover)="menuTrigger.openMenu()">
        <span>OtherOptions</span>
      </button>
      <mat-menu #billmenu="matMenu" [overlapTrigger]="false">
        <span (mouseleave)="menuTrigger.closeMenu()">
          <button mat-menu-item>
            <mat-icon>home</mat-icon>
            <span>Bills</span>
          </button>
          <button mat-menu-item>
            <mat-icon>people_outline</mat-icon>
            <span>GRNs</span>
          </button>
          <button mat-menu-item>
            <span>Department Issues</span>
          </button>
        </span>
      </mat-menu>

      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
