table {
  width: 100%;
}

tr.student-detail-row {
  height: 100%;
}

tr.student-element-row:not(.student-expanded-row):hover {
  background: whitesmoke;
}

tr.student-element-row:not(.student-expanded-row):active {
  background: #efefef;
}

.student-element-row td {
  border-bottom-width: 0;
}

.student-element-detail {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1e1e1;
  box-shadow: inset 2px 3px 8px #c1c1c1;
  border-radius: 8px;
}

.student-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.student-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.student-element-description {
  padding: 16px;
}

.student-element-description-attribution {
  opacity: 0.5;
}
.flexExpand {
  flex: 1 1 auto;
}
body { background-color: rgb(250, 249, 249) !important; }

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}
.hide{
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
        font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}



